# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# CatBoost files
catboost_info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db